@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  max-width: 600px;
}

#game-description {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 7px 5px rgb(249, 253, 3);
}

.game-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

p {
  margin-top: 5px;
}

.game-poster {
  max-width: 100%;
  height: 500px;
  width: auto;
  display: block;
  margin-top: 10px;
  border-radius: 15px;
}

.delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 65%;
}

.delete-button:hover {
  background-color: #d9534f;
}

.home-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #45a049;
}

/* Simple background animation */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 70% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Media queries for iPhone 12 Pro */
@media only screen and (max-width: 812px) {
  .container {
    height: auto;
  }
  .delete-button,
  .home-button {
    margin-right: 0;
    margin-left: 50px;
  }
}
/* Media queries for iPhone 12 Pro */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: auto;
  }
  .delete-button,
  .home-button {
    margin: 0;
    margin-right: 70px;
  }
}
/* Know issues (product link in portrait mode is not fully readable) */